.header{
    display: grid;
    grid-template-columns: 3fr 8fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(63, 63, 63);
    height: 50px;
    margin-bottom: 20px;
}

.title{
    color: white;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

.h{
    color: white;
    grid-column: 3/4;
    align-self: center;
}

.a{
    color: rgb(145, 145, 145);
    grid-column: 4/5;
    align-self: center;
}

.s{
    color: rgb(145, 145, 145);
    grid-column: 5/6;
    align-self: center;
}

.c{
    color: rgb(145, 145, 145);
    grid-column: 6/7;
    align-self: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.c1{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 30px;
}

.c2{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 30px;
}

.c3{
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: 30px;
}

.c4{
    grid-column: 4/5;
    grid-row: 1/2;
    margin-left: 30px;
}

.card-text{
    text-align: center;
}

.card-title{
    text-align: center;
}

.card-text2{
    margin-bottom: 40px;
}

.footer{
    display: flex;
    background-color: rgb(63, 63, 63);
    height: 70px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.cop{
    color: white;
}